**Count the number of cows and the number of full 24 hours records per cow**

In [ ]:
import pandas as pd


df = pd.read_csv("dataset2-1.csv")
# Count unique cows to identify the number of cows in the dataset
num_cows = df['cow'].nunique()

print(f"Total number of unique cows: {num_cows}")

# Step 1: Count the number of hourly entries per cow per day
hourly_counts = df.groupby(['cow', 'date']).size().reset_index(name='hourly_records')

# Step 2: Filter for days with exactly 24 hourly records
full_days = hourly_counts[hourly_counts['hourly_records'] == 24]

# Step 3: Count the number of full 24-hour days per cow
full_days_per_cow = full_days.groupby('cow').size().reset_index(name='full_24h_days')
print(full_days_per_cow)

Total number of unique cows: 28
     cow  full_24h_days
0    151             60
1    153             60
2    156             60
3    162             60
4    173             60
5    189             60
6   1177             56
7   1624             60
8   2152             60
9   2155             60
10  2158             60
11  2162             60
12  2164             60
13  2165             60
14  2170             60
15  2175             60
16  2179             60
17  2182             60
18  2183             60
19  2185             60
20  2187             60
21  2603             60
22  2622             60
23  7163             60
24  8200             60
25  8605             60
26  8677             60
27  9195             60

**Count how many 24h samples have less than 12 observations**

In [ ]:

# Filter for combinations with less than 12 hourly records
less_than_12_obs = hourly_counts[hourly_counts['hourly_records'] < 12]

# Count the number of such combinations
num_less_than_12_obs = len(less_than_12_obs)
print(f"Number of cow-day combinations with less than 12 hourly records: {num_less_than_12_obs}")

# Print the filtered combinations
print(less_than_12_obs)

Number of cow-day combinations with less than 12 hourly records: 0
Empty DataFrame
Columns: [cow, date, hourly_records]
Index: []

**Since we only have 2 observataions for that date , we will delete the record**

In [ ]:
#Filter for valid cow-date combinations (at least 12 hourly records)
valid_days = hourly_counts[hourly_counts['hourly_records'] >= 12]

#Merge back to original data to keep only valid records
df_filtered = pd.merge(df, valid_days[['cow', 'date']], on=['cow', 'date'], how='inner')

# df_filtered now excludes cow-date combos with <12 hours
print(df_filtered)

        cow        date  hour  IN_ALLEYS      REST     EAT  ACTIVITY_LEVEL  \
0      7163  2015-03-02     1    185.517  3414.482   0.000      -755.64814
1      7163  2015-03-02     2      0.000  3599.999   0.000      -827.99977
2      7163  2015-03-02     3     10.661  3589.338   0.000      -823.84198
3      7163  2015-03-02     4     43.800  3556.199   0.000      -810.91777
4      7163  2015-03-02     5     17.167  3582.832   0.000      -821.30464
...     ...         ...   ...        ...       ...     ...             ...
40242  2622  2015-04-30    20    882.440  2703.864  13.695      -474.94642
40243  2622  2015-04-30    21    288.649  3306.791   4.559      -712.46331
40244  2622  2015-04-30    22    217.923  3382.076   0.000      -743.00980
40245  2622  2015-04-30    23    793.545  2776.794  29.660      -499.23822
40246  2622  2015-04-30    24    335.972  3251.471  12.556      -688.80929

       oestrus  calving  lameness  mastitis  LPS  acidosis  other_disease  \
0            0        0         0         0  NaN         0              0
1            0        0         0         0  NaN         0              0
2            0        0         0         0  NaN         0              0
3            0        0         0         0  NaN         0              0
4            0        0         0         0  NaN         0              0
...        ...      ...       ...       ...  ...       ...            ...
40242        0        0         0         0  NaN         0              0
40243        0        0         0         0  NaN         0              0
40244        0        0         0         0  NaN         0              0
40245        0        0         0         0  NaN         0              0
40246        0        0         0         0  NaN         0              0

       accidents  disturbance  mixing  management_changes  OK
0              0            1       0                   0   0
1              0            1       0                   0   0
2              0            1       0                   0   0
3              0            1       0                   0   0
4              0            1       0                   0   0
...          ...          ...     ...                 ...  ..
40242          0            1       0                   0   0
40243          0            1       0                   0   0
40244          0            1       0                   0   0
40245          0            1       0                   0   0
40246          0            1       0                   0   0

[40247 rows x 19 columns]

**Aggregate the daily records and compute statistical metrics**

In [ ]:
import pandas as pd
import numpy as np
#Aggregate hourly data into daily totals
daily_df = df_filtered.groupby(['cow', 'date']).agg({
    'IN_ALLEYS': 'sum',
    'REST': 'sum',
    'EAT': 'sum',
    'ACTIVITY_LEVEL': 'sum'
}).reset_index()


def rmse(x):
    return np.sqrt(np.mean(x**2))

#Compute statistical metrics per cow
stats_df = daily_df.groupby('cow').agg(
    min_IN_ALLEYS=('IN_ALLEYS', 'min'),
    std_IN_ALLEYS=('IN_ALLEYS', 'std'),
    quantile25_IN_ALLEYS=('IN_ALLEYS', lambda x: x.quantile(0.25)),
    quantile50_IN_ALLEYS=('IN_ALLEYS', lambda x: x.quantile(0.5)),
    quantile75_IN_ALLEYS=('IN_ALLEYS', lambda x: x.quantile(0.75)),
    rmse_IN_ALLEYS=('IN_ALLEYS', rmse),

    min_REST=('REST', 'min'),
    std_REST=('REST', 'std'),
    quantile25_REST=('REST', lambda x: x.quantile(0.25)),
    quantile50_REST=('REST', lambda x: x.quantile(0.5)),
    quantile75_REST=('REST', lambda x: x.quantile(0.75)),
    rmse_REST=('REST', rmse),

    min_EAT=('EAT', 'min'),
    std_EAT=('EAT', 'std'),
    quantile25_EAT=('EAT', lambda x: x.quantile(0.25)),
    quantile50_EAT=('EAT', lambda x: x.quantile(0.5)),
    quantile75_EAT=('EAT', lambda x: x.quantile(0.75)),
    rmse_EAT=('EAT', rmse),

    min_ACTIVITY=('ACTIVITY_LEVEL', 'min'),
    std_ACTIVITY=('ACTIVITY_LEVEL', 'std'),
    quantile25_ACTIVITY=('ACTIVITY_LEVEL', lambda x: x.quantile(0.25)),
    quantile50_ACTIVITY=('ACTIVITY_LEVEL', lambda x: x.quantile(0.5)),
    quantile75_ACTIVITY=('ACTIVITY_LEVEL', lambda x: x.quantile(0.75)),
    rmse_ACTIVITY=('ACTIVITY_LEVEL', rmse)
).reset_index()


print(stats_df)

     cow  min_IN_ALLEYS  std_IN_ALLEYS  quantile25_IN_ALLEYS  \
0    151       7574.799    2345.407887           11045.54825
1    153      16712.898    5191.240394           22288.08300
2    156       6011.982    3389.196217            9051.34300
3    162      13606.759    4471.708500           20085.80350
4    173      11488.044    4311.332041           15915.96050
5    189      13002.405    6796.124207           16632.85550
6   1177      10262.755    7318.486998           14547.54000
7   1624       9714.373    5283.987892           14390.37375
8   2152       8069.131    2890.308639           10729.03950
9   2155      12459.108    5270.466088           21218.84225
10  2158      14376.517    3596.330260           16987.78425
11  2162      10289.977    4063.107435           13461.27800
12  2164      11360.127    3687.254742           16456.14000
13  2165       7934.005    2557.469918           10538.65525
14  2170      10179.216    4764.390243           16793.82750
15  2175      10691.340    4443.186496           15476.52125
16  2179      10761.719    4935.413465           15001.44925
17  2182      15518.793    5150.366454           22684.11850
18  2183      10733.702    7309.618962           16815.41975
19  2185       8780.398    4391.372260           14290.09475
20  2187       7046.282    3114.898985           11136.48725
21  2603      12698.228    6038.058031           20743.79875
22  2622       9652.221    3521.609040           12896.55100
23  7163       8180.213    2656.058405           12165.38700
24  8200       9189.444    4189.111459           15378.57875
25  8605       8766.844    6692.164787           18247.34350
26  8677       7788.253    5105.159573           10965.73150
27  9195       8080.744    2806.865175           11755.82900

    quantile50_IN_ALLEYS  quantile75_IN_ALLEYS  rmse_IN_ALLEYS   min_REST  \
0             12743.7635           13716.01250    12890.675957  41324.957
1             26076.5820           29046.23850    26468.063791  23668.186
2             10310.7270           13278.89700    11768.634269  42943.364
3             22318.3955           25082.36225    23062.721922  28109.058
4             17732.3840           20746.00650    19283.988492  29202.683
5             18524.7615           25799.63325    22412.696409  18968.933
6             18644.6630           22376.34500    21085.035080  30133.512
7             17708.2715           21138.02725    19207.668418  27004.637
8             12660.8105           14014.30800    13062.379194  38043.025
9             23796.2205           28596.36650    25339.407463  24542.491
10            19579.0645           22693.57150    20300.735864  30756.790
11            15104.4940           17037.52500    16250.317122  28571.517
12            18064.6535           19921.27350    18928.480407  33462.626
13            11914.7635           13622.36325    12530.416902  39863.731
14            19036.0110           21234.59250    19968.151883  32682.936
15            18388.9225           20658.09875    19339.486506  22976.799
16            16311.7335           20255.38250    18605.018109  23625.409
17            25852.9885           28472.94575    26602.481250  24967.664
18            20370.5285           26083.93550    22952.935380  23963.820
19            16572.8455           19095.93225    17540.934744  35580.667
20            13482.3255           15673.16875    13993.320573  40977.457
21            23872.5945           26941.66900    25112.809391  21458.373
22            14170.0950           16506.19275    15321.455251  39859.253
23            13736.7340           15247.17975    14012.301555  40925.788
24            17598.3925           20212.28850    18384.936007  33860.281
25            22719.1780           25552.00400    23432.732791  23691.836
26            13220.7350           16876.67100    15406.986269  39909.826
27            13002.9395           14977.10450    13716.625885  37610.608

       std_REST  quantile25_REST  ...  quantile25_EAT  quantile50_EAT  \
0   3417.648610      47401.98225  ...     21287.53000      22629.5995
1   6278.380110      29035.62400  ...     23172.74700      24857.1580
2   4506.747407      51953.05700  ...     16819.75625      19126.0795
3   5474.505250      38014.15700  ...     20110.99450      22128.2280
4   5619.528418      37588.96175  ...     23677.23050      25932.5575
5   7387.512723      36623.80175  ...     20847.05075      23421.4640
6   7615.993266      42533.86300  ...     15576.55400      18136.0150
7   5793.015596      40991.59375  ...     19973.25575      22572.5255
8   6162.959475      47899.94525  ...     19217.46850      22064.7005
9   5381.315846      34238.79700  ...     21236.62225      23438.0155
10  4530.879612      41050.35025  ...     19623.88775      21649.7355
11  4919.974065      44918.29475  ...     21667.32450      23572.0670
12  5342.414785      40448.58425  ...     20308.70200      23033.4570
13  3418.492142      47249.51025  ...     22511.51125      24730.6080
14  3830.799427      39776.45775  ...     21387.82625      23460.4265
15  5229.399401      36315.35725  ...     25015.04875      27041.3615
16  5130.329108      38298.90175  ...     24297.94500      25907.0125
17  5464.316198      32901.55750  ...     20463.80825      23368.4215
18  7115.127627      38161.08875  ...     19202.86875      22017.3035
19  4986.099614      42827.79475  ...     19133.48775      23852.1695
20  4289.864350      46873.90525  ...     19338.96950      21626.5270
21  6518.120779      37414.94750  ...     18135.85450      20089.2490
22  4892.429808      49404.04750  ...     15377.04175      18012.4175
23  3736.434214      48537.36150  ...     18839.61875      21058.1245
24  5559.320351      43465.76450  ...     18270.05550      20742.8630
25  7030.436877      40331.45475  ...     17568.99675      19740.6085
26  5844.339965      54182.65750  ...     10867.56400      13699.2045
27  3994.888531      45967.18900  ...     21598.26950      23489.1820

    quantile75_EAT      rmse_EAT  min_ACTIVITY  std_ACTIVITY  \
0      24857.27000  23432.651823   -3970.43635   2031.480192
1      26301.28925  25262.523890    1177.13971   2897.164285
2      21449.21675  19648.576614   -7112.22957   2428.826295
3      25072.03725  22408.451885   -2628.86460   2725.869526
4      28315.80475  26212.084170   -2009.04225   2841.375765
5      25844.63250  24279.306533   -5815.41671   3529.522778
6      20934.86400  18330.851790   -7123.75841   3503.755580
7      24927.73425  22873.764728   -5035.54501   2911.157660
8      24856.96450  22353.504191  -10048.54911   3637.702880
9      25576.03275  23341.287382   -1150.74653   2443.971872
10     23454.86000  21936.932830   -2893.36370   2310.101525
11     25370.15575  24070.252669   -2497.26734   2608.182569
12     26702.88350  23547.760838   -5953.09871   3214.328683
13     26354.16100  24638.812132   -3046.31278   2076.538411
14     27122.60500  24310.763499    -456.04206   2088.399330
15     29603.09450  27360.117036    -188.65956   2558.514253
16     28479.58875  26749.749570      88.89040   2533.073917
17     25396.51075  23580.037354    -211.87368   2631.125289
18     25026.65075  22337.113273   -3234.83313   3072.362390
19     26078.69850  23244.126764  -10318.41726   2839.634088
20     24294.43725  22312.613143   -4145.40903   2321.521003
21     22253.33425  20506.618187   -5528.65501   3069.046896
22     21212.57350  18867.429011   -8146.73733   2694.946644
23     23455.14650  21597.937013   -4528.20876   2217.939057
24     23963.66675  21579.438562   -4265.00122   3046.874097
25     21893.23225  19861.621728   -4058.56670   2959.542621
26     15130.80775  13743.658516  -10109.82514   2762.250141
27     25838.99275  24304.198690   -3075.91594   2231.436230

    quantile25_ACTIVITY  quantile50_ACTIVITY  quantile75_ACTIVITY  \
0          -1025.780737            -1.305935          1532.596945
1           4007.281270          7041.859445          9355.904065
2          -4748.760460         -2337.797975         -1051.335475
3           1249.031272          3696.029255          5224.701692
4           2567.026425          4675.294460          6500.593182
5           1586.816110          3569.603110          6768.102948
6          -3334.151730          -704.831690          2175.765410
7            305.281203          1868.757035          4091.505463
8          -2369.345195            11.640835          1277.125915
9           3580.598215          5154.241475          6455.349593
10           746.913202          1912.283620          3335.391395
11           437.347502          1771.915965          2643.279048
12           527.306065          2389.370860          4604.514353
13          -439.969472          1159.249195          2356.427402
14          1828.237877          3335.548210          4915.612713
15          3766.824960          4853.695295          6832.612285
16          2625.143905          3909.959650          5943.488978
17          3835.313302          5444.466670          7751.552580
18           755.889757          3032.364630          4543.829540
19           348.583300          1893.240550          3541.146185
20         -1811.084623          -536.895165          1921.874220
21          1009.400292          2993.826425          4615.061310
22         -3802.281930         -2459.573035          -378.647368
23         -2087.260305          -908.812525           465.211455
24         -1045.580872           915.862975          2725.197858
25          -434.490080          1865.290485          3617.293682
26         -7429.929555         -5369.917690         -3398.084822
27          -332.849020           920.496860          2185.004888

    rmse_ACTIVITY
0     2039.135741
1     7275.357010
2     3643.438467
3     4432.321666
4     5315.794340
5     5404.225523
6     3501.435400
7     3643.534893
8     3663.183182
9     5559.907404
10    3154.262222
11    3211.014184
12    4052.837943
13    2266.226750
14    4004.930645
15    5882.610986
16    5154.819513
17    6176.304836
18    4331.522527
19    3295.426724
20    2302.475065
21    4235.337766
22    3277.730142
23    2259.287147
24    3176.368995
25    3456.255661
26    6016.385159
27    2499.975382

[28 rows x 25 columns]

**Applying a shift with one hour overlap**

In [ ]:
# Step 1: Create a proper datetime column
df['datetime'] = pd.to_datetime(df['date']) + pd.to_timedelta(df['hour'] - 1, unit='h')

# Step 2: Sort by cow and datetime
df = df.sort_values(['cow', 'datetime'])

# Step 3: Apply rolling window with 2-hour size and 1-hour overlap per cow

def rmse(x):
    return np.sqrt(np.mean(x**2))

rolling_metrics = (
    df.groupby('cow')
    .rolling(window='2H', on='datetime', min_periods=2)[['IN_ALLEYS', 'REST', 'EAT', 'ACTIVITY_LEVEL']]
    .agg(['mean', 'std', 'min', 'max', rmse])
)

rolling_metrics.columns = ['_'.join(col).replace('<lambda_0>', 'rmse') for col in rolling_metrics.columns]


rolling_metrics = rolling_metrics.reset_index()

print(rolling_metrics.head())

C:\Users\ayagr\AppData\Local\Temp\ipykernel_28308\3260674700.py:14: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  .rolling(window='2H', on='datetime', min_periods=2)[['IN_ALLEYS', 'REST', 'EAT', 'ACTIVITY_LEVEL']]
C:\Users\ayagr\AppData\Local\Temp\ipykernel_28308\3260674700.py:13: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  df.groupby('cow')
C:\Users\ayagr\AppData\Local\Temp\ipykernel_28308\3260674700.py:15: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  .agg(['mean', 'std', 'min', 'max', rmse])
C:\Users\ayagr\AppData\Local\Temp\ipykernel_28308\3260674700.py:15: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  .agg(['mean', 'std', 'min', 'max', rmse])
C:\Users\ayagr\AppData\Local\Temp\ipykernel_28308\3260674700.py:15: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  .agg(['mean', 'std', 'min', 'max', rmse])
C:\Users\ayagr\AppData\Local\Temp\ipykernel_28308\3260674700.py:15: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  .agg(['mean', 'std', 'min', 'max', rmse])
C:\Users\ayagr\AppData\Local\Temp\ipykernel_28308\3260674700.py:15: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  .agg(['mean', 'std', 'min', 'max', rmse])
C:\Users\ayagr\AppData\Local\Temp\ipykernel_28308\3260674700.py:15: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  .agg(['mean', 'std', 'min', 'max', rmse])
C:\Users\ayagr\AppData\Local\Temp\ipykernel_28308\3260674700.py:15: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  .agg(['mean', 'std', 'min', 'max', rmse])
C:\Users\ayagr\AppData\Local\Temp\ipykernel_28308\3260674700.py:15: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  .agg(['mean', 'std', 'min', 'max', rmse])
C:\Users\ayagr\AppData\Local\Temp\ipykernel_28308\3260674700.py:15: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  .agg(['mean', 'std', 'min', 'max', rmse])
C:\Users\ayagr\AppData\Local\Temp\ipykernel_28308\3260674700.py:15: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  .agg(['mean', 'std', 'min', 'max', rmse])
C:\Users\ayagr\AppData\Local\Temp\ipykernel_28308\3260674700.py:15: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  .agg(['mean', 'std', 'min', 'max', rmse])
C:\Users\ayagr\AppData\Local\Temp\ipykernel_28308\3260674700.py:15: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  .agg(['mean', 'std', 'min', 'max', rmse])
C:\Users\ayagr\AppData\Local\Temp\ipykernel_28308\3260674700.py:15: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  .agg(['mean', 'std', 'min', 'max', rmse])
C:\Users\ayagr\AppData\Local\Temp\ipykernel_28308\3260674700.py:15: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  .agg(['mean', 'std', 'min', 'max', rmse])
C:\Users\ayagr\AppData\Local\Temp\ipykernel_28308\3260674700.py:15: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  .agg(['mean', 'std', 'min', 'max', rmse])
C:\Users\ayagr\AppData\Local\Temp\ipykernel_28308\3260674700.py:15: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  .agg(['mean', 'std', 'min', 'max', rmse])
C:\Users\ayagr\AppData\Local\Temp\ipykernel_28308\3260674700.py:15: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  .agg(['mean', 'std', 'min', 'max', rmse])
C:\Users\ayagr\AppData\Local\Temp\ipykernel_28308\3260674700.py:15: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  .agg(['mean', 'std', 'min', 'max', rmse])
C:\Users\ayagr\AppData\Local\Temp\ipykernel_28308\3260674700.py:15: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  .agg(['mean', 'std', 'min', 'max', rmse])
C:\Users\ayagr\AppData\Local\Temp\ipykernel_28308\3260674700.py:15: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  .agg(['mean', 'std', 'min', 'max', rmse])
C:\Users\ayagr\AppData\Local\Temp\ipykernel_28308\3260674700.py:15: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  .agg(['mean', 'std', 'min', 'max', rmse])
C:\Users\ayagr\AppData\Local\Temp\ipykernel_28308\3260674700.py:15: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  .agg(['mean', 'std', 'min', 'max', rmse])
C:\Users\ayagr\AppData\Local\Temp\ipykernel_28308\3260674700.py:15: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  .agg(['mean', 'std', 'min', 'max', rmse])
C:\Users\ayagr\AppData\Local\Temp\ipykernel_28308\3260674700.py:15: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  .agg(['mean', 'std', 'min', 'max', rmse])

   cow            datetime  IN_ALLEYS_mean  IN_ALLEYS_std  IN_ALLEYS_min  \
0  151 2015-03-02 00:00:00             NaN            NaN            NaN
1  151 2015-03-02 01:00:00        244.0040     306.888586         27.001
2  151 2015-03-02 02:00:00         19.5575      10.526699         12.114
3  151 2015-03-02 03:00:00        403.5930     553.634911         12.114
4  151 2015-03-02 04:00:00        635.9330     225.056532        476.794

   IN_ALLEYS_max  IN_ALLEYS_rmse  REST_mean    REST_std  REST_min  ...  \
0            NaN             NaN        NaN         NaN       NaN  ...
1        461.007      326.539820  3349.6580  315.850457  3126.318  ...
2         27.001       20.926096  3576.8620    5.464521  3572.998  ...
3        795.072      562.266055  3052.9575  746.377370  2525.189  ...
4        795.072      655.542525  2746.0120  312.290881  2525.189  ...

   EAT_mean     EAT_std  EAT_min  EAT_max    EAT_rmse  ACTIVITY_LEVEL_mean  \
0       NaN         NaN      NaN      NaN         NaN                  NaN
1    5.2350    7.403408    0.000   10.470    7.403408          -729.182000
2    0.0000    0.000000    0.000    0.000    0.000000          -819.549060
3  138.4920  195.857265    0.000  276.984  195.857265          -579.438705
4  212.8205   90.740892  148.657  276.984  222.282523          -440.448870

   ACTIVITY_LEVEL_std  ACTIVITY_LEVEL_min  ACTIVITY_LEVEL_max  \
0                 NaN                 NaN                 NaN
1          124.857210          -817.46938          -640.89462
2            2.941112          -821.62874          -817.46938
3          342.508432          -821.62874          -337.24867
4          145.947122          -543.64907          -337.24867

   ACTIVITY_LEVEL_rmse
0                  NaN
1           734.507352
2           819.551699
3           628.016899
4           452.377595

[5 rows x 22 columns]